<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.UserMapper">

    <select id="selectPassAssistant" resultType="ObjectsAndLogic.Assistant">
        select *
        from Assistant
        where AS_IsPass = false;
    </select>

    <select id="selectIdleAssistant" resultType="ObjectsAndLogic.Assistant">
        select *
        from Assistant
        where AS_IsIdle = true;
    </select>

    <insert id="addCustomer">
        insert into Customer (CU_Account, CU_Name, CU_Age, CU_Password, CU_IsMember, CU_Longitude, CU_Latitude,
                              CU_Balance)
            value (#{accountccount},#{name},#{age},#{password},#{isMember},#{longitude},#{latitude},#{balance})

    </insert>

    <insert id="addCar">
        insert into Car (C_Rego, C_Color, C_Brand, C_Describe, C_Status, CU_Account)
            value (#{rego},#{color},#{brand},#{describe},#{status},#{account})
    </insert>

    <insert id="addAssistant">
        insert into Assistant (AS_Account, AS_Name, AS_Age, AS_Password, AS_IsPass, AS_IsIdle, AS_Longitude, AS_Latitude,
                              AS_Balance)
            value (#{account},#{name},#{age},#{password},#{isPass},#{isFree},#{longitude},#{latitude},#{balance})

    </insert>

    <insert id="addAdmin">
        insert into Admin (AD_Account, AD_Name, AD_Age, AD_Password, AS_Account)
            value (#{account},#{name},#{age},#{password},#{as_account})

    </insert>

    <insert id="addOrders">
        insert into Orders (O_OrderID, O_Describe, O_Price, CU_Account, AS_Account)
            value (#{orderID},#{describe},#{price},#{cu_account},#{as_account})

    </insert>

    <update id="updateAssistantBalance">
        update Assistant
        SET AS_Balance = #{Balance}
        WHERE AS_Account = #{AS_Account};
    </update>

    <update id="updateCustomerBalance">
        update Customer
        SET CU_Balance = #{Balance}
        WHERE CU_Account = #{CU_Account};
    </update>

    <update id="updateAssistantPassCondition">
        UPDATE Assistant
        SET AS_IsPass = true
        WHERE AS_Account = #{AS_Account};
    </update>

    <delete id="deleteAssistant">
        delete
        from Assistant
        where AS_Account = #{AS_Account}

    </delete>

    <delete id="deleteAdmin">
        delete
        from Admin
        where AD_Account = #{AD_Account}

    </delete>

    <select id="selectOrders" resultType="ObjectsAndLogic.Orders">
        select *
        from Orders;
    </select>
</mapper>